{% extends 'base.html' %}
{% block site_title %} Favorite {% endblock %}
{% block content %}
    {% if not favourite_list %}
        No favourites locations
    {% else %}
        {{ request.user }} favourites locations :<br>
        <table>
            <thead >
                <tr><th>Location</th><th>Latitude</th><th>Longitude</th></tr>
            </thead>
            <tbody>
            {% for favourite in favourite_list  %}
                <tr><td>{{ favourite.location }}</td><td>{{favourite.latitude }}</td> <td>{{ favourite.longitude }}</td>
                    <td><a href="{% url 'favourite_delete' favourite.id  %}">delete</a> </td></tr>
            {% endfor %}
            </tbody>
            {% endif %}
        </table>
{% endblock %}
